[Unit]
Description=Icecast2 daemon
Documentation=https://gitlab.xiph.org/xiph/icecast-server
After=network.target

[Service]
Type=simple
Restart=always
User=icecast2
ExecStart=/usr/bin/icecast2 -c /etc/icecast2/icecast.xml
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/icecast2.pid
KillMode=process

[Install]
WantedBy=multi-user.target
