[Unit]
Description=Liquidsoap daemon (SDM)
After=network.target somdomato-icecast.service
Documentation=http://liquidsoap.fm

[Service]
Type=simple
User=liquidsoap
PIDFile=/run/somdomato-liquidsoap.pid
ExecStart=/usr/bin/liquidsoap /etc/liquidsoap/somdomato.liq
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
